* {
margin: 0; 
padding: 0; 
box-sizing: border-box ; 
}

body {
	background-color: #F9DEC9;
}

.fillerdiv {
  height: 40px;
}

/*Landing Start*/
.masthead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background: url("../images/laptop.jpeg") no-repeat center center scroll;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 11vmin;
  letter-spacing: 0.03em;
  line-height: 1;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
  margin-bottom: 30px;
}
          
button {
  background: #222E50;
  transition: background ease .25s;
  border-radius: 15px;
  display: inline-block;
  border: none;
  padding: 0.75rem 1.5rem;
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button:hover {
  background: #EDF2F4;
  color: #222E50;
}
button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

/*Landing End*/

/*NavBar Start*/

.bsnavbg {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222E50;
}

.bsnavbg a {
  display: block;
  padding: 10px 5px;
  color: rgb(178, 190, 194) !important;
  text-align: center;
  text-decoration: none;
}

.bsnavbg a:hover {
  text-decoration: none;
  font-weight: bolder;
}

#SiteName {
  font-weight: bolder;
  text-shadow: 1px 1px 15px #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  color: rgb(178, 190, 194) !important;
  text-decoration: none;
  vertical-align: center;
}

.navbar-nav {
  margin-left: auto;
}

/*NavBar End*/

/*Home Start*/
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 45vh;
  overflow: hidden;
  background: url("../images/home.jpeg") no-repeat center center scroll;
  text-shadow: 1px 1px 15px #000000;
}

.btn-dark {
  background-color: #222E50;
}

/*Home End*/

/*About Us Start*/


#aboutheader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 45vh;
  overflow: hidden;
  background: url("../images/abouthead.png") no-repeat center center scroll;
  text-shadow: 1px 1px 15px #000000;
}

.aboutcard {
  color: white;
  background-color: #222E50
}

.aboutheader {
  text-align: center;
}

.aboutdesc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.aboutimg {
  width: 100%;
  border-radius: 22px;
  border: 1px solid #222E50;
}

#aboutauthor {
  text-align: right;
}
/*About Us End*/

/*Our Projects Start*/
#projecthead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 45vh;
  overflow: hidden;
  background: url("../images/projecthead.png") no-repeat center center scroll;
  text-shadow: 1px 1px 15px #000000;
}

 #gallerywrapper {
     width:640px;
     height:450px;
     margin:0 auto;
     position:relative;
     font-family:verdana, arial, sans-serif;
 } 

 #gallerywrapper #gallery {
     position:absolute;
     left:0;
     top:0;
     height:450px;
     width:640px;
     overflow:hidden;
     text-align:center;
 } 

 #gallerywrapper #gallery div {
     width:640px; height:900px; 
     padding-top:10px; 
     position:relative;
 } 

 #gallerywrapper #gallery div img {
     clear:both; 
     display:block; 
     /*margin:0 auto; */
     border:0;
 } 

 #gallerywrapper #gallery div h3 {
     /*padding:10px 0 0 0; */
     /*margin:0; */
     font-size:18px;
 } 

 #gallerywrapper #gallery div p {
     /*padding:5px 0; */
     /*margin:0; */
     font-size:12px; 
     line-height:18px;
 } 

 #gallery .previous{ 
     display:inline;
     float:left;
     /*margin-left:80px;*/
     text-decoration:none;
 } 

 #gallery .next{ 
     display:inline;
     float:right;
     /*margin-right:80px;*/
     text-decoration:none;
 }
/*Our Projects End*/

/*Contact Us Start*/
#contacthead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 45vh;
  overflow: hidden;
  background: url("../images/contacthead.png") no-repeat center center scroll;
  text-shadow: 1px 1px 15px #000000;
}

#googleMap {
  width: 100%;
  height: 450px;
  border: 2px solid black;
}

.contacticons {
  color: black;
}

#contactform {
  border: 2px solid black;
  border-radius: 15px;
  background-color: #222E50;
  color: rgb(178, 190, 194);
}
/*Contact Us End*/

/*Footer Start*/
footer {
  background-color: #222E50;
}
/*Footer End*/

/*Responsiveness for Mobile Screens*/
@media only screen and (max-width: 400px) {
}

/*Responsiveness for Tablet Screens*/
@media only screen and (min-width: 401px) and (max-width: 961){
}